<h1 class="h1 mb-5">Bénévole</h1>
<div class="row col-md-12 m-0 p-0 pt-5">
	<div class="col-md-4 p-0">
		<img src="../images/francoislabrouche.jpg" class="img-full">
	</div>
	<div class="col-md-7">
		<h2 class="h2">Profil</h2>
		<p>François Labrouche</p>
		<h2 class="h2">Description</h2>
		<p>Bénévole à L’Outil en Main Bordeaux Métropole</p>
		<h2 class="h2">Métier(s)</h2>
		<p>Carreleur, Mosaïste</p>
	</div>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
