<h1>Ateliers</h1>
<h2><%= @asso.city %> - <%= @asso.departement %></h2>

<div class="col-md-12 text-center mt-5">
  <h2 class="h2">Les ateliers</h2>
  <hp>Découvrez ce que vous pourrez faire dans notre association !</p>
  
  <div class="row">
    <% @ateliers.each do |atelier| %>
      <%= link_to asso_atelier_path(@asso,atelier), class: "col-md-4 p-2", :style=> 'height:25vw;' do %>
        <div class="h-100">
          <img alt='' src="<%=atelier.media%>" class="img-full">
          <div class="position-absolute w-100 h-100 p-2" style="top: 0; left: 0;">
            <p class="h2 h-100 text-white d-flex justify-content-center align-items-md-center" style="background-color: #343a4080"><%= atelier.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>      
  </div>
</div>

<!-- 
    <% @ateliers.each do |atelier| %>
      <tr>
        <td><%= atelier.name %></td>
        <td><%= atelier.asso.name %></td>
        <td><%= link_to 'Show Asso', [@asso] %></td>
        <td><%= atelier.description %></td>
        <td><%= atelier.slots %></td>
        <td><%= atelier.min_age %></td>
        <td><%= atelier.max_age %></td>
        <td><%= atelier.media %></td>
        <td><%= link_to 'Show', [@asso, atelier] %></td>
        <td><%= link_to 'Edit', edit_asso_atelier_path(@asso, atelier) %></td>
        <td><%= link_to 'Destroy', [@asso, atelier], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

<%= link_to 'New Atelier', new_asso_atelier_path(@asso) %>
 -->