<p id="notice"><%= notice %></p>

<h1>Ateliers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Slots</th>
      <th>Min age</th>
      <th>Max age</th>
      <th>Media</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ateliers.each do |atelier| %>
      <tr>
        <td><%= atelier.name %></td>
        <td><%= atelier.description %></td>
        <td><%= atelier.slots %></td>
        <td><%= atelier.min_age %></td>
        <td><%= atelier.max_age %></td>
        <td><%= atelier.media %></td>
        <td><%= link_to 'Show', atelier %></td>
        <td><%= link_to 'Edit', edit_atelier_path(atelier) %></td>
        <td><%= link_to 'Destroy', atelier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atelier', new_atelier_path %>
