<p id="notice"><%= notice %></p>

<h1 class="h1">Pierre-Mosaïque</h1>

<div class="row">
  <div class="col-md-5">
    <img src="https://www.ouvertureauxarts.com/img/mosaique/mosaique-01.jpg" class="img-full">
  </div>
  <div class="col-md-7">
    <h2 class="h2">Desctiption</h2>
    <p class="h4">
      L’atelier pierre-mosaïque permet aux enfants de libérer leur coté créatif en mélangeant plusieurs couleurs dynamiques et divastes formes, afin de créer tous types d’objet, comme des pots de fleurs, des images, des bougeoirs .... 
    </p>
    <h2 class="h2">Métier</h2>
    <p class="h4">Cet art donne le métier de Carreleur, Mosaïste.</p>
  </div>
</div>

<h2 class="h2 mt-5">Les outils utilisés</h2>
<div class="container d-inline-flex flex-wrap">
  <div class="row w-50 mt-4 ml-0">
    <div class="col-md-3">
      <img src="https://www.verrosaique.com/contents/media/t_b_meuleuse%20kristall%202000s__opt.jpg" class="img-full">
    </div>
    <div class="col-sm-9 d-flex align-items-center">
      <p class="h5">Meuleuse à eau</p>
    </div>        
  </div>
  <div class="row w-50 mt-4 ml-0">
    <div class="col-md-3">
      <img src="https://www.verrosaique.com/contents/media/t_b_meuleuse%20kristall%202000s__opt.jpg" class="img-full">
    </div>
    <div class="col-sm-9 d-flex align-items-center">
      <p class="h5">Meuleuse à eau</p>
    </div>        
  </div>
</div>

<div class="text-center mt-5 col-md-12">
  <h2 class="h2">Découvrez nos réalisations !</h2>
  <h3 class="h3">Tout est fait avec passion</h3>
  <div class="row mt-4 mb-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPXlGiAVCvaArn6LiJxY9V4VT5Evqesv3M9LdVE7IaLP4tOTvK&usqp=CAU" class="col-md-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPXlGiAVCvaArn6LiJxY9V4VT5Evqesv3M9LdVE7IaLP4tOTvK&usqp=CAU" class="col-md-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPXlGiAVCvaArn6LiJxY9V4VT5Evqesv3M9LdVE7IaLP4tOTvK&usqp=CAU" class="col-md-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPXlGiAVCvaArn6LiJxY9V4VT5Evqesv3M9LdVE7IaLP4tOTvK&usqp=CAU" class="col-md-3">
  </div>
  <a href="#" class="btn">Liste des réalisations</a>      
</div>

<p>
  <strong>Name:</strong>
  <%= @atelier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @atelier.description %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @atelier.slots %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @atelier.min_age %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @atelier.max_age %>
</p>

<p>
  <strong>Media:</strong>
  <%= @atelier.media %>
</p>

<%= link_to 'Edit', edit_atelier_path(@atelier) %> |
<%= link_to 'Back', ateliers_path %>
