<h1 class="h1"><%= @atelier.name %></h1>

<div class="row mb-5">
  <div class="col-md-5">
    <img src="<%= @atelier.media %>" class="img-full">
  </div>
  <div class="col-md-7 pl-4">
    <h2 class="h2">Desctiption</h2>
    <p><%= @atelier.description %></p>
    <h2 class="h2">Métier</h2>
    <p>
      <%= @atelier.metier.name %>
    </p>
  </div>
</div>

<% if @atelier.metier.tools.length() != 0 %>
  <h2 class="h2 mt-5">Les outils utilisés</h2>
  <div class="container">
    <% @atelier.metier.tools.each do |tool| %>
      <div class="col-md-2 d-inline-flex flex-wrap">
        <div class="">
          <img src="<%= tool.media %>" class="img-full">
        </div>
        <div class="w-100">
          <p class="text-center"><%= tool.name %></p>
        </div>        
      </div>
    <% end %>
  </div>
<% end %>
<!--
<div class="text-center mt-5 col-md-12">
  <h2 class="h2">Découvrez nos réalisations !</h2>
  <h3 class="h3">Tout est fait avec passion !</h3>
  <div class="row mt-4 mb-4">
    <div class="col-md-4 mb-2" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/366.png" class="img-full">
    </div>
    <div class="col-md-4 mb-2" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/3223.jpg" class="img-full">
    </div>
    <div class="col-md-4 mb-2" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/2570.jpg" class="img-full">
    </div>
  </div>
  <a href="#" class="btn">Liste des réalisations</a>      
</div>
-->
<!-- 
<p>
  <strong>Name:</strong>
  <%= @atelier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @atelier.description %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @atelier.slots %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @atelier.min_age %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @atelier.max_age %>
</p>

<p>
  <strong>Media:</strong>
  <%= @atelier.media %>
</p>

<%= link_to 'Edit', edit_asso_atelier_path(@asso, @atelier) %> |
<%= link_to 'Back', asso_ateliers_path(@asso) %>
 -->