<p id="notice"><%= notice %></p>


<h1 class="h1">Bordeaux Métropole</h1>
<h2 class="h2">Gironde</h2>

<div class="col-md-12 text-center mt-5">
  <h2 class="h2">Retrouvez les ateliers !</h2>
  <h3 class="h3">Tous les mercredis de 14H à 18H</h3>
  <a href="#" class="btn">S'inscrire</a>
  
  <div class="row">
    <div class="col-md-4 p-2" style="height: 25vw;">
      <img src="https://www.condat.fr/wp-content/uploads/2016/04/lubrifiants-poudres-fils-soudure-660x330.png" class="img-full">
      <div class="position-absolute w-100 h-100 p-2" style="top: 0; left: 0;">
        <p class="h1 h-100 text-white d-flex justify-content-md-center align-items-md-center" style="background-color: #343a4080">Soudure</p>
      </div>
    </div>  
    <div class="col-md-4 p-2" style="height: 25vw;">
      <img src="https://www.habitatpresto.com/upload/devispresto//3419794__menuiserie.jpg" class="img-full">
      <div class="position-absolute w-100 h-100 p-2" style="top: 0; left: 0;">
        <p class="h1 h-100 text-white d-flex justify-content-md-center align-items-md-center" style="background-color: #343a4080">Menuiserie</p>
      </div>
    </div>  
    <div class="col-md-4 p-2" style="height: 25vw;">
      <img src="https://www.modo-shopping.fr/uploads/marque/lacordonnerie_ban.jpg" class="img-full">
      <div class="position-absolute w-100 h-100 p-2" style="top: 0; left: 0;">
        <p class="h1 h-100 text-white d-flex justify-content-md-center align-items-md-center" style="background-color: #343a4080">Cordonnerie</p>
      </div>
    </div>      
  </div>
  <a href="#" class="btn"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Tous les métiers</a>
</div>

<div class="text-center mt-5 col-md-12">
  <h2 class="h2">Découvrez nos réalisations !</h2>
  <h3 class="h3">Tout est fait avec passion</h3>
  <div class="row mt-4 mb-4">
    <div class="col-md-4" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/366.png" class="img-full">
    </div>
    <div class="col-md-4" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/3223.jpg" class="img-full">
    </div>
    <div class="col-md-4" style="max-height: 15vw;">
      <img src="https://www.loutilenmain.fr/ged/bibliobjets/2570.jpg" class="img-full">
    </div>
  </div>
  <a href="#" class="btn">Liste des réalisations</a>      
</div>


<p>
  <strong>Name:</strong>
  <%= @asso.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @asso.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @asso.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @asso.city %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @asso.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @asso.long %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @asso.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @asso.email %>
</p>

<p>
  <strong>Members:</strong>
  <%= @asso.members %>
</p>

<%= link_to 'Edit', edit_asso_path(@asso) %> |
<%= link_to 'Back', assos_path %>
