<p id="notice"><%= notice %></p>

<h1>Metiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Media</th>
      <th>Training</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metiers.each do |metier| %>
      <tr>
        <td><%= metier.name %></td>
        <td><%= metier.media %></td>
        <td><%= metier.training %></td>
        <td><%= metier.explanation %></td>
        <td><%= link_to 'Show', metier %></td>
        <td><%= link_to 'Edit', edit_metier_path(metier) %></td>
        <td><%= link_to 'Destroy', metier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metier', new_metier_path %>
