<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metier.name %>
</p>

<p>
  <strong>Media:</strong>
  <%= @metier.media %>
</p>

<p>
  <strong>Training:</strong>
  <%= @metier.training %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @metier.explanation %>
</p>

<%= link_to 'Edit', edit_metier_path(@metier) %> |
<%= link_to 'Back', metiers_path %>
