<p id="notice"><%= notice %></p>

<h1 style="margin: 0 0 100px -15px;">Carreleur Faïencier</h1>
		
<div>
	<div class="img-metier">
		<img src="https://www.loutilenmain.fr/ged/bibliobjets/420.png" class="img-full">
	</div>
	<h2 class="h2">Le métier</h2>
	<p style="margin: 30px 0 100px 0;">
		Le carreleur faïencier pose des revêtements de murs et de sols, que ça soit en intérieurs ou en extérieurs, dans des bâtiments neufs ou dans des cadres de travaux de rénovation. Il met en place en scellant, collant ou fixant mécaniquement tous matériaux en céramique ou tous autres matériaux durs qui peuvent être naturels ou artificiels. Le carreleur faïencier peut même être amené à encadrer une petite équipe!
		Le métier s'exerce souvent sous un abri, dans des locaux clos et couverts, des chantiers de constructions neuves... La nature des travaux détermine la nécessité de travailler seul ou en équipe. L'activité comporte des déplacements (éloignement du lieu de travail, changements de chantier). Les horaires sont réguliers mais le rythme de travail peut être conditionné par des procédés techniques (colles) ou le respect impératif des délais (activité parfois en fin de semaine). L'exercice de l'emploi/métier implique de multiples manipulations et de travailler dans des conditions particulières (position à genoux prolongée, travail en espace réduit, travail en hauteur...).
	</p>
</div>

<div class="row justify-content-md-center">
	<div style="margin: 3em 15px;" class="col col-lg-4">
	  	<img src="../images/francoislabrouche.jpg" class="img-benevole">
	   	<h3 class="h3">Francois Labrouche</h3>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
	<div style="margin: 3em 15px;" class="col col-lg-4">
	  	<img src="../images/francoislabrouche.jpg" class="img-benevole">
	   	<h3 class="h3">Francois Labrouche</h3>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
	<div style="margin: 3em 15px;" class="col col-lg-4">
	  	<img src="../images/francoislabrouche.jpg" class="img-benevole">
	   	<h3 class="h3">Francois Labrouche</h3>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
</div>

<div>
	<h2 class="h2">Les outils utilisés</h2>
	<div class="row">
		<div class="row col-md-6 mt-2">
			<div class="img-tool col-md-3">
				<img src="https://toutpourlejeu.com/9580-medium_default/marteau-en-bois-jouet-longueur-19-cm.jpg">
			</div>
			<span class="col-md-8 h5">Marteline acier widia pour mosaïque</span>
		</div>
		<div class="row col-md-6 mt-2">
			<div class="img-tool col-md-3">
				<img src="https://toutpourlejeu.com/9580-medium_default/marteau-en-bois-jouet-longueur-19-cm.jpg">
			</div>
			<span class="col-md-8 h5">Marteline acier widia pour mosaïque</span>
		</div>
		<div class="row col-md-6 mt-2">
			<div class="img-tool col-md-3">
				<img src="https://toutpourlejeu.com/9580-medium_default/marteau-en-bois-jouet-longueur-19-cm.jpg">
			</div>
			<span class="col-md-8 h5">Marteline acier widia pour mosaïque</span>
		</div>
		<div class="row col-md-6 mt-2">
			<div class="img-tool col-md-3">
				<img src="https://toutpourlejeu.com/9580-medium_default/marteau-en-bois-jouet-longueur-19-cm.jpg">
			</div>
			<span class="col-md-8 h5">Marteline acier widia pour mosaïque</span>
		</div>
	</div>
</div>

<div class="row mt-3">
	<h2 class="h2">Etudes</h2>
	<p>
		Après la 3e
		- 2 ans pour préparer le CAP carreleur-mosaïste, éventuellement complété, après 2 ans d'expérience professionnelle au minimum, par le BP carreleur mosaïste (2 ans) ;
		- 3 ans pour le bac pro aménagement et finition du bâtiment.

		Après le bac
		- 2 ans pour obtenir le BTS aménagement-finition ou le DMA décor architectural, option décor du mur
	</p>
</div>

<p>
  <strong>Name:</strong>
  <%= @metier.name %>
</p>

<p>
  <strong>Media:</strong>
  <%= @metier.media %>
</p>

<p>
  <strong>Training:</strong>
  <%= @metier.training %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @metier.explanation %>
</p>

<%= link_to 'Edit', edit_metier_path(@metier) %> |
<%= link_to 'Back', metiers_path %>
