<h1><%= @metier.name %></h1>
		
<div>
	<div class="img-metier">
		<img src="https://www.loutilenmain.fr/ged/bibliobjets/420.png" class="img-full">
	</div>
	<h2 class="h2">Le métier</h2>
	<p><%= @metier.explanation %></p>
</div>
<div>
	<h2 class="h2">Les outils utilisés</h2>
	<div class="row">
		<% @metier.tools.each do |tool| %>
			<%= link_to tool, class:"row col-md-2 mt-2" do %>
				<div>
					<div class="container">
						<img src="<%= tool.media %>" class="img-thumbnail" alt="">
						<p class=""><%= tool.name %></p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="row mt-3">
	<h2 class="h2">Etudes</h2>
	<p><%= @metier.training %></p>
</div>

<div class="row justify-content-md-center">
	<div class="col col-lg-3">
	  	<div class="img-full-box" style="height: 300px;">
			<img src="https://www.louvre.fr/sites/default/files/medias/medias_images/images/louvre-portrait-de-lisa-gherardini-epouse-de-francesco-del-giocondo-dite-monna-lisa-la-gioconda-ou-la-jocon.jpg" class="img-full rounded">  
		</div>
	   	<p>Francois Labrouche</p>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
	<div class="col col-lg-3">
		<div class="img-full-box" style="height: 300px;">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Gilbert_Stuart_Selfportrait.jpg/1200px-Gilbert_Stuart_Selfportrait.jpg" class="img-full rounded">
	   	</div>
		<p>Francois Labrouche</p>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
	<div class="col col-lg-3">
		<div class="img-full-box" style="height: 300px;">
			<img src="https://images.squarespace-cdn.com/content/v1/526c1f5ce4b023d8f09340d7/1539361832020-NCX1G5AMK0VRQAA09CDL/ke17ZwdGBToddI8pDm48kFXbnozmmgWQk9QaXD5cjJN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmLKoxsx6wp33kn5fgRqCuBamDslz0dZPrZ-HD_QIQdN_1tj0nA2po57vGaTFRnKlJ/ismael-seck-quebec-solidaire-2018-montreal-portrait-professionnel-corporatif-studio.jpg" class="img-full rounded">
		</div>   	
		   <p>Francois Labrouche</p>
	   	<h5 class="h5">L'Outil en main</h5>
	   	<h5 class="h5">Bordeaux Métropole</h5>
	</div>
</div>


<p>
  <strong>Name:</strong>
  <%= @metier.name %>
</p>

<p>
  <strong>Media:</strong>
  <%= @metier.media %>
</p>

<p>
  <strong>Training:</strong>
  <%= @metier.training %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @metier.explanation %>
</p>

<%= link_to 'Edit', edit_metier_path(@metier) %> |
<%= link_to 'Back', metiers_path %>
