<h1><%= @metier.name %></h1>
		
<div>
	<div class="img-metier">
		<img src="<%= @metier.media %>" class="img-full">
	</div>
	<h2 class="h2">Le métier</h2>
	<p><%= @metier.explanation %></p>
</div>
<div>
<% if @metier.tools.length() != 0 %>
	<h2 class="h2">Les outils utilisés</h2>
	<div class="row">
		<% @metier.tools.each do |tool| %>
			<%= link_to tool, class:"row col-md-2 mt-2" do %>
				<div>
					<div class="container">
						<img src="<%= tool.media %>" class="img-thumbnail" alt="">
						<p class=""><%= tool.name %></p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
</div>

<h2 class="h2">Etudes</h2>
<p><%= @metier.training %></p>

<% if @metier.users.length() != 0 %>
	<h2 class="h2">Les Bénévoles</h2>
	<div class="row">
		<% @metier.users.each do |user| %>
			<div class="col col-lg-3">
				<p><%= user.first_name %> <%= user.last_name %></p>
			</div>
		<% end %>
	</div>
<% end %>