<!DOCTYPE html>
<html>
  <head>
    <title>L'outil en ligne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar bg-white navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>        
          <div class="logo">
            <svg width="51" height="65" viewBox="0 0 51 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.8737 35.2573C19.0436 35.9981 16.6335 37.7788 13.7962 38.5338C12.9525 38.7582 12.2868 38.9113 11.7563 38.1528C11.144 37.2802 11.4715 36.4611 12.1586 35.8129C13.8033 34.2637 15.8788 33.3199 17.7157 32.0556C17.8581 31.9558 17.9862 31.8276 18.1571 31.6994C17.5057 31.094 16.4982 30.8126 16.4768 29.6373C14.6052 30.5187 12.6844 31.2917 10.7239 31.9523C9.89925 32.22 9.05027 32.4061 8.18923 32.5079C7.92356 32.5512 7.65113 32.5221 7.40056 32.4237C7.15 32.3253 6.93054 32.1613 6.76525 31.9487C6.49825 31.2364 6.87917 30.5241 7.36332 29.9401C8.19635 28.9642 9.41742 28.5547 10.432 27.8032C10.9482 27.415 13.0308 26.2433 12.8314 26.3323C14.3871 25.645 8.91547 27.4542 7.3562 27.301C7.02702 27.2852 6.70597 27.1933 6.41817 27.0327C6.13037 26.8721 5.88363 26.647 5.69726 26.375C5.38042 25.9121 5.73286 25.4526 5.9251 25.0288C6.03802 24.8419 6.20764 24.6959 6.40925 24.6121C9.6595 23.0593 12.7923 21.2608 16.1991 20.0357C18.2141 19.3234 20.2717 19.6546 22.3721 19.4872V9.37626C19.9869 9.37626 17.5947 9.29791 15.2166 9.40831C13.8709 9.47242 13.547 8.98806 13.6111 7.73799C13.7357 5.31621 13.3191 0.447707 13.9955 0.404969C17.0251 0.20909 20.1329 -0.0793878 23.2586 0.0488244C24.6398 0.105808 26.1564 -0.00103591 27.5839 -0.00103591C29.2678 -0.0366504 30.2966 0.244704 31.1118 1.6586C32.3507 3.79547 34.4404 4.39735 36.6226 4.81404C37.6052 5.0028 38.634 4.94225 39.6166 5.12389C40.4603 5.27703 41.1794 5.64386 41.1331 6.74791C41.0975 7.67745 41.1331 8.3933 39.8551 8.63548C38.6595 8.83265 37.4547 8.96935 36.2453 9.04504C33.9313 9.25161 31.5889 9.10559 29.1823 9.10559V18.9922C36.3948 18.9566 43.6287 19.2023 50.8447 18.4259C51.101 19.0598 50.9693 19.6225 50.9586 20.3206C43.7782 20.4274 36.6191 19.7508 29.4173 20.1461V22.7673C30.1784 22.4264 30.8672 21.9429 31.4465 21.3427C32.0517 21.6383 32.2154 21.909 31.685 22.4112C30.7724 23.2768 29.7327 23.9974 28.6021 24.548C26.5017 25.6165 24.355 26.5923 22.1941 27.6287C23.1304 28.43 22.664 28.9357 21.8844 29.4094C21.2828 29.0533 22.0944 28.7968 21.7242 28.341C20.3002 27.7213 19.3533 29.0248 17.9756 29.5091C19.4494 31.1189 21.0621 30.8019 22.6391 30.371C25.1987 29.6587 27.7583 28.9785 30.204 27.9207C30.4434 27.8067 30.7134 27.7742 30.973 27.8281C33.9242 28.7683 36.8505 28.4478 40.0082 27.5966C38.7907 29.0212 37.3275 29.3061 35.843 29.3774C34.3039 29.4811 32.7578 29.4046 31.2364 29.1494C30.1435 28.9571 29.5348 29.3631 29.6238 30.6595C29.7306 32.2479 29.6487 33.8648 29.6487 35.5565C32.0374 35.3748 33.9918 34.2957 35.8679 33.1418C36.9914 32.3907 38.0362 31.528 38.9865 30.5669C39.5454 30.0398 40.1612 30.1395 40.7237 30.2107C42.9373 30.5031 45.1661 30.666 47.3987 30.6986C48.58 30.7182 49.7562 30.859 50.9088 31.1189C51.0323 31.535 51.0173 31.98 50.8661 32.3868C48.399 31.8063 45.8821 31.9416 43.3688 31.6175C41.1652 31.3326 39.047 31.4003 37.2492 33.1026C35.3909 34.862 32.9559 35.5956 30.5778 36.3079C29.8658 36.5181 29.6131 36.6926 29.6166 37.3977C29.638 40.3787 29.6166 43.3596 29.6166 46.2657C29.7982 46.597 30.0474 46.5044 30.2432 46.4972C30.9196 46.4759 31.6351 46.7252 31.4215 47.3698C31.3517 47.692 31.1968 47.9896 30.973 48.2317C30.617 48.7481 29.5917 48.9902 29.4885 49.8307C30.6455 49.7524 31.863 49.179 32.9559 48.9546C33.5646 48.8264 33.6679 48.7659 34.0061 49.1256C34.4902 49.6277 34.177 50.1762 33.9278 50.4718C33.0983 51.4476 32.0552 51.7504 30.6918 52.452C30.2681 52.6692 29.1147 53.093 29.1147 53.093C30.1175 52.9952 31.1076 52.7947 32.0695 52.4947C32.6319 52.338 33.2727 52.1386 33.5967 52.7974C33.9206 53.4563 33.4614 53.8979 32.9808 54.2434C32.3193 54.7239 31.5832 55.0921 30.8021 55.3332C30.3393 55.4685 29.0577 56.0205 29.5276 55.9956C29.9976 55.9707 30.973 56.0989 31.2222 56.3518C31.4892 56.8753 30.795 57.6054 30.4354 57.8048C29.3283 58.4174 29.5882 58.9267 29.5526 60.0058C29.5526 60.6433 29.5739 61.2345 29.5526 61.9789C29.4422 64.3686 28.2745 64.6393 27.4166 64.8565C26.8445 65.007 26.2482 65.0427 25.6622 64.9614C25.0762 64.8801 24.5122 64.6835 24.0026 64.3828C23.5881 64.1747 23.2438 63.8495 23.0122 63.4475C22.7806 63.0455 22.6719 62.5844 22.6996 62.1213C22.7459 61.2416 22.6996 60.3406 22.6996 59.3291C21.3184 59.3291 19.9941 59.4075 18.6804 59.3291C16.0532 59.1404 13.3832 58.9979 11.0906 57.4843C9.77342 56.6153 8.59863 56.886 7.3206 57.5164C5.08851 58.6097 2.82081 59.6319 0.556677 60.6647C0.417838 60.7288 0.200681 60.9674 0.00488281 60.6647V59.8633C2.85285 58.5741 5.70082 57.2706 8.54879 56.0099C8.84615 55.8824 9.17038 55.8303 9.49269 55.8582C9.815 55.8862 10.1254 55.9933 10.3964 56.1701C11.5879 56.8345 12.8581 57.3466 14.1771 57.6944C18.741 58.802 23.3654 58.2286 27.9613 57.9509C28.4296 57.9394 28.8897 57.8254 29.3092 57.6168C29.7286 57.4082 30.0973 57.1101 30.3892 56.7435C28.6982 56.074 26.9467 56.5761 25.0813 56.2948C27.7298 56.1233 30.2715 55.1854 32.397 53.5952L32.753 53.1465C31.327 53.5393 29.8759 53.8344 28.4098 54.0297C26.8969 54.2743 25.3574 54.3078 23.8353 54.1294C24.1852 53.7493 24.653 53.4984 25.1631 53.4171C27.7583 52.9684 30.4141 52.2632 32.6391 50.8315C33.2941 50.4077 33.8316 50.2617 33.6358 49.4069C33.6358 49.4069 26.2596 51.583 22.4754 51.3764C23.7249 50.2011 25.4194 50.3472 26.9004 49.8735C28.4525 49.3784 29.9904 48.8834 30.8448 47.2202C26.0496 48.367 20.8769 50.3614 16.3487 48.7053C16.3282 48.5875 16.3484 48.4661 16.406 48.3613C16.4636 48.2564 16.5551 48.1743 16.6655 48.1284C17.7311 47.3995 18.8062 46.6872 19.8908 45.9915C22.7388 44.1645 22.6391 44.5669 22.308 42.5832C20.6135 43.5163 18.9652 44.5278 17.228 45.3647C12.244 47.758 7.23872 50.1038 2.21206 52.4021C1.52855 52.712 0.891313 53.3281 0.0191227 53.1571V52.3558C6.55521 49.3642 13.0771 46.3405 19.453 43.0106C20.1329 42.6544 20.8342 42.3268 21.4821 41.9208C22.2404 41.4435 22.8171 40.8523 22.2974 39.8231C21.4252 40.1507 20.5565 40.4998 19.6701 40.7989C19.0364 41.0126 18.3672 40.9556 18.0539 40.3146C17.889 40.0272 17.8202 39.6947 17.8573 39.3654C17.8945 39.0362 18.0357 38.7274 18.2604 38.484C19.0578 37.5936 20.0831 37.0131 21.0514 36.3649C21.4339 36.0804 21.7912 35.7634 22.1194 35.4176L21.8737 35.2573ZM14.9994 7.75224C22.9417 7.72731 30.7808 7.84127 38.6198 7.49225C39.5347 7.45308 39.6522 6.85475 39.4742 6.24931C39.4315 6.02493 37.7939 5.87179 36.9074 5.86111C33.7391 5.81837 31.0442 4.72857 29.339 1.91502C28.8904 1.17068 28.4454 1.20273 27.6871 1.23479C24.6861 1.39505 21.6352 1.44135 18.6413 1.34519C17.4167 1.33451 16.1885 1.25616 14.9888 1.77969L14.9994 7.75224ZM28.3137 29.8332C27.057 30.2713 25.957 30.7912 24.8 30.9586C23.878 31.0904 23.732 31.4644 23.7534 32.2372C23.7819 34.9012 23.7534 37.5794 23.7534 40.2255V48.0785C25.2771 48.1426 26.5586 47.5799 27.8794 47.2523C28.2354 47.1597 28.2995 46.7537 28.2995 46.3655C28.2995 40.9236 28.303 35.4674 28.303 29.8724L28.3137 29.8332ZM28.0467 23.3763V12.9306C28.0467 8.87053 27.8972 8.8919 23.8281 9.14833C23.7925 9.14833 23.9136 9.06997 23.8281 9.14833V25.3173L28.0467 23.3763ZM22.3935 20.7123C16.6085 19.8291 12.2654 22.8492 7.63032 25.4704C6.13514 26.3394 9.36402 25.9548 10.2113 25.791C12.9952 25.2532 15.6046 24.0779 18.4526 23.7111C19.7484 23.5437 21.1867 23.9639 22.3935 23.0914V20.7123ZM22.3935 24.7012C19.4779 24.3237 16.7331 24.573 14.4049 26.5923C13.8318 27.0909 15.0956 26.1222 14.4049 26.5923C12.9204 27.6109 9.16822 29.3631 7.997 30.9764C7.997 31.2614 7.997 31.7101 8.76239 31.475C13.2017 30.0825 17.6053 28.5831 21.7171 26.3109C22.5252 25.8693 22.4611 25.36 22.3792 24.7012H22.3935ZM28.303 58.7914C27.7904 58.7914 27.4379 58.77 27.0855 58.7914C24.0311 59.005 24.0311 59.005 24.0311 61.783C24.0311 63.5957 25.4052 64.5467 27.235 64.0302C28.2567 63.5637 28.2567 63.5637 28.3457 62.6057C28.4383 61.3876 28.303 60.1518 28.303 58.7914ZM12.9133 37.4227C13.1962 37.4343 13.4795 37.4116 13.757 37.355C16.3777 36.3491 18.9298 35.1725 21.3967 33.8327C22.365 33.3341 22.6818 32.8248 22.2618 31.7172C21.2151 32.2692 19.8908 32.0271 18.9617 32.5862C17.1817 33.6547 15.3732 34.748 13.5826 35.8271C13.0023 36.169 12.6427 36.5928 12.9133 37.4298V37.4227ZM22.4291 36.4005C21.1518 36.8632 19.987 37.5915 19.0115 38.5374C18.7481 38.8116 18.5523 39.093 18.7445 39.4598C18.8976 39.7519 19.1931 39.816 19.5277 39.8338C20.6277 39.9299 21.475 39.3209 22.1799 38.6905C22.7851 38.1563 22.3187 37.2303 22.4291 36.4005ZM18.3672 48.31C18.5487 48.3242 18.7293 48.3479 18.9083 48.3812C21.8773 49.122 22.2475 48.7837 22.422 45.8597C22.422 45.7565 22.511 45.5819 22.1941 45.5463L18.3672 48.31ZM26.0424 50.6606C26.9538 50.86 27.3703 50.6285 28.3422 50.1299C27.1709 49.8165 26.8684 50.5288 26.0424 50.6606Z" fill="#0271B1"/>
            <path d="M19.5376 39.8417C19.203 39.8097 18.9075 39.7598 18.7544 39.4678Z" fill="white"/>
            <path d="M22.4279 36.4014C22.3069 37.2312 22.7839 38.1572 22.1787 38.6985Z" fill="white"/>
            <path d="M21.8726 35.2582L22.346 35.073L22.1004 35.4291L21.8726 35.2582Z" fill="white"/>
            </svg>
            <p>L'outil en ligne</p>
          </div>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Accueil", root_path, class: "nav-item nav-link" %>
            <%= link_to "Métiers", metiers_path, class: "nav-item nav-link" %>
            <%= link_to "Bénévoles", users_path, class: "nav-item nav-link" %>
            <%= link_to "Outils", tools_path, class: "nav-item nav-link" %>
            <%= link_to "Réalisations", items_path, class: "nav-item nav-link" %>
            <%= link_to "Associations", associations_path, class: "nav-item nav-link" %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= 
        if( params["controller"] != "root" )
          render_breadcrumbs :separator => ' / '
        end
      %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">

      </div>
    </footer>
  </body>
</html>
