<!DOCTYPE html>
<html>
  <head>
    <title>Workshop2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="logo">
          <p>L'outil en ligne</p>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Métiers</a></li>
            <li><a href="#">Bénévoles</a></li>
            <li><a href="#">Réalisations</a></li>
            <li class="high"><a href="#">Associations</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
